.asks {
  display: grid;
  gap: clamp(var(--space-9), 3vw, var(--space-11));
  max-width: var(--prose-wide-max-width);
  margin-top: clamp(var(--space-9), 3vw, var(--space-11));
}

.ask {
  display: grid;
  gap: var(--space-5);
}

.ask__body {
  margin: 0;
  color: var(--color-neutral-2);
  line-height: var(--line-height-5);
}

.ask__quote {
  margin: var(--space-1) 0;
  padding: var(--space-1) 0 var(--space-1) var(--space-9);
  border-left: 3px solid var(--color-neutral-6);
}

.ask__quote > i {
  display: block;
  color: var(--color-neutral-1);
  line-height: var(--line-height-5);
}
