.account-list__empty {
  color: var(--color-neutral-4);
  font-style: italic;
  text-align: center;
  padding: var(--space-10);
}

.account-list-item__subtitles {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.account-list-item__subtitles > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
